#login-popup{:role => "dialog"}
  .login-page
    .head
      .form-title
        .logo-top
          %h1 Verification
        .logo-bottom
      .login
        .sap_tabs
          #horizontalTab{:style => "display: block; width: 100%; margin: 0px;"}
            %ul.resp-tabs-list
              %li.resp-tab-item{:role => "tab"}
                %span Verification
              .clearfix
            .resp-tabs-container
              .tab-1.resp-tab-content{"aria-labelledby" => "tab_item-0"}
                .login-top
                  = form_for(@user, :url => { :action => "email_confirmation"} , :validate => true, :method => "put") do |f|
                    %div
                      = f.text_field :verification_code, :placeholder => "Code", :required => true
                    .login-bottom.login-bottom1
                      .submit
                        %button.btn-green.sign-in-btn{:type => "submit", :value => "submit"} Verify
                      .clear
      .clear
    .account
    .footer
      %p Copyright © 2017,  All Rights Reserved

